<div class="row">
  <div class="col-5">
    <img class="img1" src="assets\depositphotos_34475233-stock-photo-software-development-concept-in-tag.jpg" alt="img">
     <img class="img" src="assets\depositphotos_385708154-stock-photo-social-network-theme-hologram-over.jpg" alt="img">
  </div>
  <div class="col-7 text">
        <h1>Welcome to Freelancer Hub!</h1>
        <h4>Empowering Solutions in the Digital Landscape since 2023</h4>
        <p>At Freelancer Hub, we're a dedicated team of innovative developers, committed to crafting cutting-edge solutions in the realms of website development, app creation, IoT integration, and AI projects. Our journey began in 2023, driven by a passion for transforming ideas into impactful digital experiences.</p>
        <h2>Our Commitment:</h2>
        <h4>Unleashing Digital Potential</h4>
        <p>We are your partners in progress, leveraging our expertise to engineer custom solutions that align with your vision. Our focus is not just on delivering projects but on sculpting digital experiences that resonate, captivate, and transcend expectations.</p>
        <h2>Services We Offer:</h2>
        <h4>1. Website Development</h4>
        <p>From sleek, responsive designs to robust backend functionality, we specialize in crafting websites that speak volumes about your brand.</p>
        <h4>2. App Development</h4>
        <p>We breathe life into your app ideas, whether it's iOS, Android, or cross-platform solutions. User-centric design meets seamless functionality in our app development process.</p>
        <h4>3. IoT Integration</h4>
        <p>Our proficiency in IoT technologies ensures that your devices communicate efficiently, paving the way for a smarter, connected future.</p>
        <h4>4. AI Projects</h4>
        <p>Harnessing the power of artificial intelligence, we create intelligent systems that learn, adapt, and transform businesses for the digital era. </p>
        <h2>Join Us on Our Digital Voyage:</h2>
        <h4>Connect with Us</h4>
        <p>Explore more about our work, stay updated on industry insights, and join our digital community on our social media platforms.</p>
    </div>
</div>