<!--Navbar for this Project-->
<nav class="navbar">
    <a class="navbar-brand freelancer" href="#">
        FreeLancer
    </a>
    <div class="">
        <a  class="contact" href="/about">About Us</a>
         <a class="contact" href="#footer">Connect Team</a>
        <a class="login" routerLink="/login">Vendor Login</a>
    </div>
   
</nav>
<!--  Banner for this Project-->
<div>
    <img src="assets\banner.jpg" alt="banner" class="banner">
</div>
<!-- Detail for this project-->
<div class="row">
    <div class="col-6">
        <div class="image1">
            <img src="assets/image1.jpg" alt="detail">
        </div>
    </div>
    <div class="col-6">
        <div class="data1">
            <h3 class="condent">Welcome to Freelancer - Empowering Developers Worldwide</h3>
            <h4 class="question">Why Clients Choose Our Freelancer Platform?</h4>
            <p class="detail"><span>Abundance of Projects:</span>Access a diverse range of projects spanning web
                development, mobile app creation, software engineering, AI, and much more. Our platform hosts a
                multitude of projects to match your expertise and passions.</p>
            <p><span>Freedom and Flexibility:</span>Enjoy the freedom of choosing projects that align with your
                interests and schedule. Set your own hours, work remotely, and collaborate with global clients, giving
                you unparalleled flexibility in your career.</p>
            <p><span>Community and Collaboration:</span>Engage with a vibrant community of fellow developers, sharing
                insights, learning resources, and collaborative opportunities. Leverage our platform to network, learn,
                and grow alongside like-minded professionals.</p>
            <p><span>Secure and Reliable Transactions:</span>Rest assured with our secure payment system that ensures
                fair compensation for your hard work. Our platform facilitates transparent and reliable transactions
                between you and your clients.</p>
        </div>
    </div>
</div>
<!-- collaboration details for this project -->
<div class="row">
    <div class="col-6">
        <div class="data2">
            <h3 class="condent1">Efficient Collaboration Framework for Project Success</h3>
            <p class="detail1"><span>Brief and Scope:</span>Provide a clear project brief outlining goals, objectives,
                deliverables, timelines, and any specific requirements. This ensures everyone involved understands the
                project scope.</p>
            <p><span>Tools:</span>Integrate communication channels like instant messaging, video conferencing, or
                project management tools to facilitate real-time communication among team members. Tools like Slack,
                Microsoft Teams, or Zoom can be effective.</p>
            <p><span>File Sharing and Version Control:</span>Implement a secure platform for sharing project-related
                files, documents, and resources. Tools like Google Drive, Dropbox, or GitHub can help manage file
                sharing and version control.</p>
            <p><span>Collaborative Editing and Documentation:</span>Employ tools that allow multiple users to collaborate on documents simultaneously. Google Docs, Microsoft Office 365, or Notion are examples that enable real-time editing and collaboration.</p>
            <p><span>Documentation of Collaboration:</span>Maintain records of collaboration activities, discussions,
                decisions made, and changes implemented. This ensures transparency and provides a reference for future
                projects.</p>
           
        </div>
    </div>
    <div class="col-6">
        <div class="image2">
            <img src="assets/image2.jpg" alt="detail">
        </div>
    </div>
</div>
<div>
    <h3 class="heading">Ready to do your best work</h3>
    <div class="footer1">
        <footer class="footer row">
            <div id="footer" class="col-6">
                <h3 class="care">Customer Care Mail</h3>
                <a class="mail" href="mailto:karthiksundaramoorthi3@gmail.com">Send Email</a>
            </div>
        <div class="col-6">
            <h2 class="care">Connect With Developer</h2>
            <a class="det" routerLink="/teamdetail">Developer Details</a>
        </div>
    </footer>
    </div>
</div>
