<div class="body">
<div class="container">
    <div class="controller">
        <form class="form">
            <h2>Login</h2>
            <label for="inputUsername" class="form-label">Email</label>
            <input class="form-control" type="text" id="inputUsername" formControlName="email" placeholder="username">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" id="inputPassword" class="form-control" aria-describedby="passwordHelpBlock" formControlName="password" placeholder="password">
            <a class="register" routerLink="/register">Register</a>
            <button type="submit" class="btn btn-success" routerLink="/userside" routerLinkActive="router-link-active" >Login</button>
        </form>
    </div>
</div></div>