
<div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8">
      <h2 class="add">ADD DEVELOPER</h2>
        <form [formGroup]="myForm">
            <div class="mb-3">
                <label class="form-label">developer Name</label>
                <input type="text" class="form-control" name="name" formControlName="name"
                 placeholder="Enter the developer name" required>
              </div>
              <div class="mb-3">
                <label class="form-label">developer Role</label>
                <input type="text" class="form-control" name="role" formControlName="role"
                placeholder="Enter the developer role" required>
              </div>
              
              <div class="mb-3">
                <label class="form-label">developer Phone</label>
                <input type="text" class="form-control" name="phone" formControlName="phone"
                placeholder="Enter the developer Phone" required>
              </div>

              <button type="submit" class="btn btn-success" (click)="addEmployee()">ADD</button>
        
      </form>
        
    </div>
    <div class="col-sm-2">
        
    </div>
</div>